*.class

# Package Files #
*.jar
*.war
*.ear

.classpath
.project
pom.xml.versionsBackup
/build
.settings
.mymetadata
/maven-user-settings.xml
.deployment
/.development/
/.fbprefs
/build.properties
/build.properties-local
/config/local/
rsync.sh
/target
/*/target
/*/*/target
/*/*/*/target
/*/*/*/*/target
.externalToolBuilders
maven-eclipse.xml
.metadata/*
.checkstyle
.pmd
.pmdruleset
performance-tests/*

# idea
.idea
*.iml